# This file lists the python packages that your software depends on.
# It is used by pip to manage software dependencies. It is not to be
# confused with the software requirements, which are listed in
# doc/requirements.rst
six>=1.10
numpy>=1.11
opencv-contrib-python>=3.4.4
PySide2>=5.12.0
scikit-surgeryimage>=0.1.1
