# This file lists the python packages that your software depends on.
# It is used by pip to manage software dependencies. It is not to be
# confused with the software requirements, which are listed in
# doc/requirements.rst

# Numpy went to version 2 on June 16th 2024.
# OpenCV released 4.10.0.84 on June 17th 2024.
# So, as this sciit-surgeryutils is used in other projects, we
# leave it to other projects to determine the correct combination of
# OpenCV and numpy. So, if you want OpenCV < 4.10.0.84, switch to numpy < 2.
numpy>=1.11
PySide6>=6.5.1.1
opencv-contrib-python-headless>=4.2.0.32
scikit-surgerycore>=0.1.7
scikit-surgeryimage>=0.10.1
scikit-surgeryvtk>=2.2.1
scikit-surgeryarucotracker
scikit-surgerycalibration>=0.2.5