# This file lists the python packages that your software depends on.
# It is used by pip to manage software dependencies. It is not to be
# confused with the software requirements, which are listed in
# doc/requirements.rst
six>=1.10
numpy>=1.11
opencv-contrib-python>=3.4.4
--extra-index-url http://download.qt.io/snapshots/ci/pyside/5.9/latest/ --trusted-host download.qt.io
PySide2<=5.11.0
scikit-surgeryimage>=0.2.0
scikit-surgeryvtk
